:root{
    --color1: #FBD1A2;
    --color2: #F79256;
    --color3: #7DCFB6;
    --color4: #00B2CA;
    --color5: #1D4E89;
    --color6: #000000;
    --color7: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--color6);
    line-height: 1.5;
}

header {
    background-color: var(--color2);
    color: var(--color6);
    padding: 30px 0;
    text-align: center;
}

h1, h2, h3 {
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

button {
    background-color: var(--color3);
    color: var(--color6);
    border: none;
    margin: auto;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.3s, background-color 0.3s;
}

button:hover {
    background-color: var(--color4);
}

footer{
    background-color: var(--color2);
    color: var(--color6);
    text-align: center;
    font-size: larger;
    font-style: italic;
    padding: 30px 0;
}

nav ul {
    list-style: none; /* Quitar bullets */
    display: flex; /* Alinear horizontalmente */
    justify-content: center; /* Centrar los elementos */
    gap: 30px; /* Espaciado entre elementos */
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-item {
    display: inline-block; /* Asegura que cada elemento sea un bloque en línea */
    margin: 0 10px auto; /* Espaciado horizontal entre los elementos */
    padding: 10px 15px; /* Espaciado interno */
    background-color: var(--color2); /* Fondo */
    border-radius: 5px; /* Bordes redondeados */
    text-align: center; /* Centra el texto dentro del bloque */
    transition: background-color 0.3s ease; /* Transición suave al interactuar */
}

.nav-item a {
    text-decoration: none; /* Quitar subrayado */
    color: var(--color6); /* Color del texto */
    font-weight: bold;
    display: block; /* Hace que el enlace ocupe todo el área del bloque */
}

.nav-item:hover {
    background-color: var(--color3); /* Cambiar el fondo al pasar el ratón */
    color: var(--color1); /* Cambiar el color del texto */
}

.signin-signup {
    display: flex;
    gap: 20px; 
    align-items: center;
    margin: 20px auto;
    gap: 20px;
    justify-content: center;
    flex-flow: row wrap;
}

.signin {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    gap: 20px; 
    align-items: center;
    width: 550px;
    height: 200px;
    margin: auto; 
    background-color: var(--color5);
    color: var(--color7);
    padding: 20px;
    border-radius: 10px;
}

.signin-form {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0 auto;
}

.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 550px;
    height: 200px;
    margin: auto; 
    background-color: var(--color5);
    color: var(--color7);
    padding: 20px;
    border-radius: 10px;
}

#login input{
    width: 100%;
    height: fit-content;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.sobre-nosotros {
    text-align: center;
    margin: 40px auto; /* Centra la sección horizontalmente */
    max-width: 800px; /* Ancho máximo */
    padding: 20px;
    border-radius: 10px;
}

.sobre-nosotros h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-decoration: none;
}

.contenedor-perfiles {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-flow: row;
}

.perfil{
    text-align: center;
    background-color: var(--color3);
    width: 450px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background-color 0.3s;
}

.perfil p{
    margin: 0 10px;
}

.foto-perfil{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px;
}

.link-linkedin{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
}

.perfil:hover{
    transform: scale(1.05);
    background-color: var(--color4);
}

.articulos {
    padding: 20px;
    margin: 10px;
}

.articulos h2 {
    font-size: 2rem;
    text-decoration: none;
}

.contenedor-articulos {
    display: flex;
    gap: 20px;
    padding: 30px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.articulo{
    scroll-snap-align: start;
    text-align: center;
    text-decoration: none;
    width: 300px;
    height: 100%;
    color: var(--color6);
    background-color: var(--color3);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background-color 0.3s;
}

.articulo h3{
    margin: 20px;
    font-style: italic;
}

.articulo p{
    display: inline-block;
    width: 260px;
    height: 150px;
    margin: 10px 10px;
}

.articulo img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.articulo:hover{
    transform: scale(1.05);
    background-color: var(--color4);
}

.experiencias {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background-color: var(--color3);
}

.experiencias form {
    display: flex;
    width: auto;
    border-radius: 10px;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.experiencias h2 {
    text-decoration: solid none;
    font-size: 2rem;
}

.experiencias p {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    font-size: large;
}

.experiencias textarea{
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    resize: none;
    overflow: scroll;
    border-radius: 5px;
    border: 1px solid var(--color6);
    max-width: auto;
    max-height: auto;
}

.experiencias button {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px 20px;
    background-color: var(--color4);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.experiencias button:hover {
    background-color: var(--color5);
}

.comentarios {
    display: inline-block;
    width: auto;
    background-color: var(--color4);
    padding: 20px;
    border-radius: 10px;
    list-style: none;
    max-height: 400px;
    overflow-y: auto;
}

.articulo-display{
    padding: 30px 0;
}

.pdf-articulo{
    display: flex;
    align-items: center;
    width: 90%; 
    height: 80vh; 
    margin: 0 auto;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}